<!DOCTYPE html>
<html lang="en" id="preview-container">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#7796a8">
    <title>Base Template</title>
  </head>
<body>
    <page-header :setting="theme.components['page-header']"></page-header>
    <div class="page-container">
        <layout-content></layout-content>
    </div>
    <page-footer :setting="theme.components['page-footer']"></page-footer>
</body>
</html>