<div class="product-collection">
    <link rel="stylesheet" :href="server + '/static/assets/collection-products.css'">
    <div class="title">
        {{setting.title}}
    </div>

    <div class="filter">
        <div class="f-line top clearfix">
            <div class="f-sort">
                <a href="" class="curr">销量<i></i></a>
                <a href="" class="">价格<i></i></a>
                <a href="/list.html?cat=652,828,841&amp;ev=exbrand%5F11821&amp;page=1&amp;sort=sort%5Fcommentcount%5Fdesc&amp;trans=1&amp;JL=4_5_0" class="">评论数<i></i></a>
                <a href="/list.html?cat=652,828,841&amp;ev=exbrand%5F11821&amp;page=1&amp;sort=sort%5Fwinsdate%5Fdesc&amp;trans=1&amp;JL=4_6_0" class="">上架时间<i></i></a>
            </div>
            <div class="f-pager">
               <span class="fp-text">
                   <b>1</b><em>/</em><i>1</i>
               </span>
                <a class="fp-prev disabled" href="javascript:;"> &lt; </a>
                <a class="fp-next disabled" href="javascript:;"> &gt; </a>
            </div>
        </div>
    </div>

    <div class="goods-list">
        <div v-for="product in collection.products" class="product">
            <div class="grid-view-image">
                <img :src="product.cover">
            </div>
            <div class="grid-view-price">
                <span class="price">¥{{product.price}}</span> <span v-if="product.compare_price" class="compare">¥{{product.compare_price}}</span>
            </div>
            <div class="grid-view-title">
                {{product.title}}
            </div>
        </div>
    </div>
</div>