<div class="product index-section">
    <link rel="stylesheet" :href="server + '/static/assets/product.css'">
    <meta itemprop="name" :content="all_products[setting.product||'empty'].title">

    <div class="content clearfix">
        <div class="photos grid__item" :class="(setting.imageSize===1)?'one-third':((setting.imageSize===2)?'one-half':'')">
            <div class="image-wrap empty">
                <img :src="all_products[setting.product||'empty'].cover">
            </div>
        </div>

        <div class="meta" :class="(setting.imageSize===1)?'two-third':((setting.imageSize===2)?'one-half':'')">
            <h2>{{all_products[setting.product||'empty'].title}}</h2>
            <p class="vendor" v-if="setting.vendor">{{all_products[setting.product||'empty'].vendor}}</p>
            <p class="price">
                <span class="sale">{{all_products[setting.product||'empty'].price}}</span>
                <span class="compare">{{all_products[setting.product||'empty'].compare_price}}</span>
            </p>

            <div class="add-to-cart">
                <div class="quantity" v-if="setting.quantity">
                    <label for="Quantity">Quantity</label>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                </div>
                <button>{{setting.btnCart}}</button>
            </div>
        </div>
    </div>
</div>
