<div class="product" >
    <meta itemprop="name" :content="product.title">

    <div class="content clearfix">
        <div class="photos grid__item" :class="(setting.imageSize===1)?'one-third':((setting.imageSize===2)?'one-half':'')">
            <div class="image-wrap">
                <img :src="product.cover">
            </div>
        </div>

        <div class="meta" :class="(setting.imageSize===1)?'two-third':((setting.imageSize===2)?'one-half':'')">
            <h2>{{product.title}}</h2>
            <p class="vendor" v-if="setting.vendor">{{product.vendor}}</p>
            <p class="price">
                <span class="sale">{{product.price}}</span>
                <span class="compare">{{product.compare_price}}</span>
            </p>

            <div class="add-to-cart">
                <div class="quantity" v-if="setting.quantity">
                    <label for="Quantity">Quantity</label>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                </div>
                <button>{{setting.btnCart}}</button>
            </div>
        </div>
    </div>
    <div class="description">
            {{product.content}}
    </div>
</div>
