html,
body {
  font: 14px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff;
}
@media (min-width: 1411px) {
  .w {
    width: 1390px;
    margin: 0 auto;
  }
}
a {
  text-decoration: none;
  color: #666;
}
* {
  margin: 0;
  padding: 0;
}
.one-half {
  float: left;
  width: 50%;
}
.one-third {
  float: left;
  width: 33.33333%;
}
.two-third {
  float: left;
  width: 66.66666%;
}
.main-content {
  padding-top: 50px;
}
input[type=radio],
input[type=checkbox] {
  border: 1px solid #c4cdd5;
  background-color: #ffffff;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
