.site-header {
  background-color: #fff;
  position: relative;
  padding: 0 55px;
  border-bottom: 1px solid #e8e9eb;
}
.site-header .header-line {
  display: flex;
}
.site-header .header-line .site-header__logo {
  padding: 20px;
  width: 300px;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.site-header .header-line .site-header__logo a {
  font-weight: bold;
  font-size: 20px;
}
.site-header .header-line ul,
.site-header .header-line li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-header .header-line nav ul {
  position: relative;
  padding: 0;
  text-align: center;
  margin: 25px 0;
}
.site-header .header-line nav ul li {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.site-header .header-line nav ul li a {
  padding: 3px 10px;
  font-size: 16px;
}
.site-header a {
  text-decoration: none;
  color: #3d4246;
}
