html,
body {
  font: 14px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff;
}
@media (min-width: 1411px) {
  .w {
    width: 1390px;
    margin: 0 auto;
  }
}
a {
  text-decoration: none;
  color: #666;
}
* {
  margin: 0;
  padding: 0;
}
.one-half {
  float: left;
  width: 50%;
}
.one-third {
  float: left;
  width: 33.33333%;
}
.two-third {
  float: left;
  width: 66.66666%;
}
.main-content {
  padding-top: 50px;
}
input[type=radio],
input[type=checkbox] {
  border: 1px solid #c4cdd5;
  background-color: #ffffff;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.product.index-section .content {
  padding-left: 55px;
  padding-right: 55px;
  max-width: 1200px;
  margin: 0 auto;
}
.product.index-section .content .photos .image-wrap {
  padding: 0;
}
.product .content .photos {
  padding: 0px 20px;
  box-sizing: border-box;
}
.product .content .photos .image-wrap {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.product .content .photos .image-wrap.empty {
  background-color: #e8e9eb;
  border: 1px solid #ccc;
}
.product .content .photos .image-wrap img {
  width: 100%;
}
.product .content .meta {
  box-sizing: border-box;
  padding: 20px;
}
.product .content .meta h2 {
  font-size: 2.1875em;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.2em;
}
.product .content .meta .price {
  font-size: 1.8em;
  margin-top: 20px;
}
.product .content .meta .price .sale {
  margin-right: 10px;
  color: #e4393c;
}
.product .content .meta .price .compare {
  color: #879596;
  text-decoration: line-through !important;
}
.product .content .meta .add-to-cart {
  font-size: 16px;
  padding: 20px 0px;
}
.product .content .meta .add-to-cart .quantity {
  display: inline-block;
  padding-right: 20px;
}
.product .content .meta .add-to-cart .quantity input {
  font-size: 16px;
  padding: 8px;
  width: 70px;
}
.product .content .meta .add-to-cart button {
  min-width: 240px;
  appearance: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 8px 15px;
  background-color: #7796a8 /*}*/;
  color: white /*}*/;
  font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;
  font-size: 16px;
}
.product .description {
  padding: 20px;
  font-size: 16px;
}
